{% include "layouts/nav.html" %}


 <article>
  <h1 class="site-heading ">Categories</h1>

  <div class="archive">

    <div class="container">
      <h3 class="post-title">
        <i class="icon-categories"></i>
          <a href="/categories/life/" title="Life" rel="3">Life</a>
      </h3>
    </div>

    <div class="container">
      <h3 class="post-title">
        <i class="icon-categories"></i>
          <a href="/categories/LeetCodes/" title="Machine Learning" rel="7">LeetCodes</a>
      </h3>



    </div>

    <div class="container">
      <h3 class="post-title">
        <i class="icon-categories"></i>
          <a href="/categories/Uncategorized/" title="Uncategorized" rel="1">Uncategorized</a>
      </h3>

    </div>

  </div>
</article>









{% include "layouts/footer.html" %}
