{% include "layouts/nav.html" %}

<style>

</style>


<div class="zone blue grid-wrapper">
  <div class="card bg-light mx-auto" alt="Car" style="width: 100%" class="card border-primary mb-3" style="max-width: 18rem;">
      <div class="container text-center text-primary">
        <div class="mx-auto">
          <img class="card__images" class="bg-light mb-3" alt="Car" style="width: 400px;" style="height: 300px" src="../images/ina.png" >
          <div class="card" style="border: none;">
          <div class="card-Title">
            In-Store Shopper
          <div class="mt-3 text-left ml-2">
              <li>
                Demonstrating various tasks such as being a cashier, offering exceptional customer service, and timed regulated shopping orders.
              </li>
              <li>
                Speaking to clients daily to provide solutions to problems they have immediately with a friendly and sympathetic tone.
              </li>
              <li>
                Consistently meeting metrics set by the company while also improving every week.
              </li>
              <li>
                Communicating often with Shift Leads to provide information on any problems other employees may face in hopes to prevent any problems in team metrics.
              </li>
            </div>
          </div>
        </div>
        </div>
       </div>
      <br>
      
       <div class="container text-center text-primary">
         <div class="mx-auto">
           <img class="card__images" class="bg-light mb-3" alt="Car" style="width: 400px;" style="height: 300px" src="../images/logo.png" >
           <div class="card" style="border: none;">
           <div class="card-Title">
             Data Analytics Apprentice - Cohort 93
           <div class="mt-3 text-left ml-2">
             <li>
                Investing 200+ hours over course of program to develop in-demand industry skills: Excel (pivot tables, VLOOKUP), Digital Marketing, Google Analytics, PowerBI, Salesforce, SQL, Tableau
              </li>
             <li>
               Working daily with Mentors to gain further knowledge of the industry
             </li>
             <li>
               Attending in a teamwork based environment constantly working and communicating with peers, instructors, and alumni to build professional network and community base
             </li>
             </div>
           </div>
         </div>
         </div>
        </div>

    </div>

</div>







{% include "layouts/footer.html" %}
