<!DOCTYPE html>
<html lang="en">

<!-- Body tag -->
<body>
{% include "layouts/nav.html" %}





<!-- Body -->

<div class="card mb-5 center mx-auto" style="max-width: 940px;border:none ;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../images/me.png" class="card-img"  style="max-height: 300px;border-radius: 50%;"alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="mt-5 card-text">Hi, I'm SiuChun Kung! I'm a programmer, currently graduated from San Francisco State University.
        I'm fascinated with computers and what technology can do for people.
        I'm especially interested in web development and all the
aspects that go into it — programming, gameplay, art, and sound design.</p>
      </div>
    </div>
  </div>
</div>

      <!-- footer scripts -->
{% include "layouts/footer.html" %}
</body>
</html>
