{% include "layouts/nav.html" %}

<div class="container">


  <!-- Body -->
  <!-- Page Header -->
  <header class="intro-header">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <div class="post-heading">
          <h2><strong>Binary Tree Maximum Path Sum</strong></h2>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="row">
      <!-- Post Main Content -->
      <div class="post-content col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <h4 id="Code-Example"><a href="#Code-Example" class="headerlink" title="Code Example"></a>Code Example</h4>
        Given a non-empty binary tree, find the maximum path sum.

For this problem, a path is defined as any sequence of nodes from some starting node to any node in the tree along the parent-child connections. The path must contain at least one node and does not need to go through the root.        <figure class="highlight python">
          <table>
            <tr>
              <td class="code">
              <pre>
              <span class="line">
              Class Solution {
                int max_path_sum;
                public int maxPathSum(TreeNode root) {
                  max_path_sum = Interger.MIN_VALUE;
                  pathSum(root);
                  return max_path_sum;
                }

                public int pathSum(TreeNode node) {
                  if(node == null) return 0;
                  int left = Math.max(0, pathSum(node.left));
                  int right = Math.max(0, pathSum(node.right));
                  max_path_sum = Math.max(max_path_sum, left + right + node.val);
                  return Math.max(left, right) + node.val;
                }
              }
              </span>
              </pre>
              </td>
            </tr>
          </table>
        </figure>

        <center>
          <p><div class="video-container">
            <iframe src="//www.youtube.com/embed/mOdetMWwtoI" frameborder="0" allowfullscreen class="video">

            </iframe>
          </div>
        </p>
        </center>

        <!-- Meta -->
        <div class="post-date">
          <hr>
          2020-03-22
        </div>
      </div>
    </div>
  </article>
</div>












{% include "layouts/footer.html" %}
