{% include "layouts/nav.html" %}

<!-- Body -->
       <!-- Page Header -->
<header class="intro-header">
   <div class="row">
       <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
           <div class="post-heading">
               <h2><strong>Questions</strong></h2>
           </div>
       </div>
   </div>
</header>


<!-- Post Content -->
<article>
   <div class="row">
       <!-- Post Main Content -->
       <div class="post-content col-lg-8 offset-lg-2 col-md-10 ">
         <div class="row">
         <ul class="col-md-3 list-group list-group-horizontal">
            <li class=" list-group-item"><a href="../../Leetcodes/392">Is Subsequence | No.392</a></li>
            <li class=" list-group-item"><a href="">Is Subsequence | No.392</a></li>
            <li class=" list-group-item"><a href="">Is Subsequence | No.392</a></li>
          </ul>
          <ul class="col-md-3 list-group list-group-horizontal">
            <li class=" list-group-item"><a href="../../Leetcodes/124">Binary Tree Maximum Path Sum | No.124</a></li>
            <li class=" list-group-item"><a href="">Is Subsequence | No.392</a></li>
            <li class=" list-group-item"><a href="">Is Subsequence | No.392</a></li>
           </ul>
           <ul class="col-md-3 list-group list-group-horizontal">
             <li class=" list-group-item"><a href="../../Leetcodes/701">Insert into a Binary Search Tree | No.701</a></li>
             <li class=" list-group-item"><a href="">Is Subsequence | No.392</a></li>
             <li class=" list-group-item"><a href="">Is Subsequence | No.392</a></li>
            </ul>
            <ul class="col-md-3 list-group list-group-horizontal">
              <li class=" list-group-item"><a href="">Is Subsequence | No.392</a></li>
              <li class=" list-group-item"><a href="">Is Subsequence | No.392</a></li>
              <li class=" list-group-item"><a href="">Is Subsequence | No.392</a></li>
             </ul>
          <center></center>
        </div>
           <!-- Meta -->
           <div class="post-date">
               <hr>
               2019-04-15
           </div>
       </div>
   </div>
</article>

     </div>






{% include "layouts/footer.html" %}
